.c-banner{
    background-image: url('./img/banner.jpg');
    min-height: 170px;
    background-position: center center;
}
.cbg-trans-dark{
    background-color: rgba(0, 0, 0, 0.6);
}

#btn-succes btn-block{
    color: green;
}